div{
    height: 150px;
    width: 150px;
    background-color: aqua;
    border: 3px solid black;
    transition: all 2s ease-in;
    position: absolute;
    top: 100px;
    left: 100px;
}
div:hover{
    background-color: red;
    color: white;
   /* transform: rotate(90deg);
   transform: scale(2);
   transform: translate(-200px,-500px);*/
   transform: skew(90deg);
}